
.food-form .form {
    align-self: center;
    width:50%;
    height:60%;
    background:#ffffff;
    border-radius:8px;
    padding:25px 35px;
    display: inline-block;
    margin-left: 150px;
}
.food-form h2 {
    text-align: left;
    color:#000000;
    text-transform: capitalize;
}

.food-form label{
    font-weight: bold;
}

.food-form input {
    
    width:100%;
    padding:15px;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    border-bottom:2px solid #000000;
    
}

.food-form .button {
    margin: 40%,20%,20%,40%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
 }
.food-form .button:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
 }