#myDIV {
    width: 100%;
    padding: 40px 40px;
    text-align: left;
    background-color: rgb(226, 230, 231);
    margin:10px;
}

#myDIV1 {
    width: 100%;
    padding: 40px 40px;
    text-align: left;
    background-color: rgb(226, 230, 231);
    margin:10px;
}

#myDIV2 {
    width: 100%;
    padding: 40px 40px;
    text-align: left;
    background-color: rgb(226, 230, 231);
    margin:10px;
}
