*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}
  
body {
    font-family: 'Open Sans', sans-serif;
  }
  
.content {
    margin-top: 100px;
    margin-left: 250px;
    padding: 40px;
    height: calc(100% - 100px);
    overflow-y: auto; 
}
  
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 50px 100px;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: white;
}

#card1 {
    background-color:#41b3a3;
}

.card i {
  font-size: 100px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



